.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-inline: 15rem;
    padding-block: 5rem;
    height: 80vh;
        
}



