/* Definir una fuente y color general */
body {

  color: black;
  background-color: #373B44;
}

/* Estilos para encabezados */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #055285;
}

a {
  color: black;
  text-decoration: none;
}